<div *ngIf="!userId">
	<em>Loading...</em>
</div>

<div *ngIf="userId" class="w-screen h-screen">
	<div *ngFor="let stage of stages">
		<div>
			{{stage.name}}
		</div>
		<div *ngIf="isGroupStage(stage)" class="grid grid-cols-1 md:grid-cols-3">
			<div *ngFor="let group of asGroupStage(stage).groups">
				<div class="justify-center items-center">
					{{group.name}}
				</div>
				<div cdkDropList [cdkDropListData]="group" (cdkDropListDropped)="drop($event)" class="bg-black p-3 m-3 rounded-3xl">
					<div cdkDrag [cdkDragData]="team" *ngFor="let team of group.teams" class="bg-white rounded-3xl flex justify-center items-center w-full">{{team.name}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
